{% load static %}
<marquee behavior="scroll" direction="right">
<div class="container mt-5">

      <!-- Four cards with various grid combinations -->
  <div class="row mt-3">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'assets\img\adsr\1.jpeg'' %}" alt="Card image cap" />
        <div class="card-body">
                              <div class="demo-inline-spacing">
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-facebook"><i class="tf-icons bx bxl-facebook"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-twitter"><i class="tf-icons bx bxl-twitter"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-instagram">
                <i class="tf-icons bx bxl-instagram"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'assets\img\adsr\2.png'' %}" alt="Card image cap" />
        <div class="card-body">
                              <div class="demo-inline-spacing">
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-facebook"><i class="tf-icons bx bxl-facebook"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-twitter"><i class="tf-icons bx bxl-twitter"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-instagram">
                <i class="tf-icons bx bxl-instagram"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'assets\img\adsr\3.png'' %}" alt="Card image cap" />
        <div class="card-body">
          <div class="demo-inline-spacing">
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-facebook"><i class="tf-icons bx bxl-facebook"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-twitter"><i class="tf-icons bx bxl-twitter"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-instagram">
                <i class="tf-icons bx bxl-instagram"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'assets\img\adsr\4.png'' %}" alt="Card image cap" />
        <div class="card-body">
          <div class="demo-inline-spacing">
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-facebook"><i class="tf-icons bx bxl-facebook"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-twitter"><i class="tf-icons bx bxl-twitter"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-instagram">
                <i class="tf-icons bx bxl-instagram"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'assets\img\adsr\1.jpeg'' %}" alt="Card image cap" />
        <div class="card-body">
          <div class="demo-inline-spacing">
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-facebook"><i class="tf-icons bx bxl-facebook"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-twitter"><i class="tf-icons bx bxl-twitter"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-instagram">
                <i class="tf-icons bx bxl-instagram"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'assets\img\adsr\2.png' %}" alt="Card image cap" />
        <div class="card-body">
          <div class="demo-inline-spacing">
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-facebook"><i class="tf-icons bx bxl-facebook"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-twitter"><i class="tf-icons bx bxl-twitter"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-instagram">
                <i class="tf-icons bx bxl-instagram"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>

    <br>

<div class="container mt-5">

  </div>

</div>
</marquee>
<marquee behavior="scroll" direction="left">
<div class="container mt-5">

      <!-- Four cards with various grid combinations -->
  <div class="row mt-3">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'assets\img\adsr\1.jpeg'' %}" alt="Card image cap" />
        <div class="card-body">
                              <div class="demo-inline-spacing">
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-facebook"><i class="tf-icons bx bxl-facebook"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-twitter"><i class="tf-icons bx bxl-twitter"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-instagram">
                <i class="tf-icons bx bxl-instagram"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'assets\img\adsr\2.png'' %}" alt="Card image cap" />
        <div class="card-body">
                              <div class="demo-inline-spacing">
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-facebook"><i class="tf-icons bx bxl-facebook"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-twitter"><i class="tf-icons bx bxl-twitter"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-instagram">
                <i class="tf-icons bx bxl-instagram"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'assets\img\adsr\3.png'' %}" alt="Card image cap" />
        <div class="card-body">
          <div class="demo-inline-spacing">
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-facebook"><i class="tf-icons bx bxl-facebook"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-twitter"><i class="tf-icons bx bxl-twitter"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-instagram">
                <i class="tf-icons bx bxl-instagram"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'assets\img\adsr\4.png'' %}" alt="Card image cap" />
        <div class="card-body">
          <div class="demo-inline-spacing">
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-facebook"><i class="tf-icons bx bxl-facebook"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-twitter"><i class="tf-icons bx bxl-twitter"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-instagram">
                <i class="tf-icons bx bxl-instagram"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'assets\img\adsr\1.jpeg'' %}" alt="Card image cap" />
        <div class="card-body">
          <div class="demo-inline-spacing">
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-facebook"><i class="tf-icons bx bxl-facebook"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-twitter"><i class="tf-icons bx bxl-twitter"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-instagram">
                <i class="tf-icons bx bxl-instagram"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'assets\img\adsr\2.png' %}" alt="Card image cap" />
        <div class="card-body">
          <div class="demo-inline-spacing">
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-facebook"><i class="tf-icons bx bxl-facebook"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-twitter"><i class="tf-icons bx bxl-twitter"></i></button>
              <button type="button" class="btn btn-icon rounded-pill btn-sm btn-instagram">
                <i class="tf-icons bx bxl-instagram"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>

    <br>

<div class="container mt-5">

  </div>

</div>



</marquee>

