{% load static %}

<!-- Useful features: Start -->
              <section id="landingFeatures" class="section-py landing-features">
                <div class="container">
                  <div class="text-center mb-3 pb-1">
                    <span class="badge bg-label-primary">Our Showcase</span>
                  </div>
                  <h3 class="text-center mb-1">Advertise with Ease: Maximize Your Reach with Market Movers Plus</h3>
                  <p class="text-center mb-3 mb-md-5 pb-3">
                    Not just a booking platform, our package offers a comprehensive solution for showcasing your ads in our tabloid, ensuring maximum visibility and engagement.
                  </p>
                  <div class="features-icon-wrapper row gx-0 gy-4 g-sm-5">
                    {% include 'office360degree/adblocks.html' %}
                  </div>
                </div>
              </section>
              <!-- Useful features: End -->